
.active{
  color:  white ;
	background-color: rgb(8 47 73);;;
 
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
button{
  font-size: 36px;
  padding: 16px;
  border-radius: 16px;
  background-color: cornflowerblue;
  color: white;
}